<h1> Create a band </h1>

<form action="<%= bands_url %>" method="POST">
    <input type ="hidden" name="a"
    <label> Band Name
        <input type="text" name="band[name]">
    </label>

<input type="submit" value="Create Band">

</form>